<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<false/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.string</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>Finder</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<false/>
	<key>AMCanShowWhenRun</key>
	<false/>
	<key>AMCategory</key>
	<string>AMCategoryFilesAndFolders</string>
	<key>AMDefaultParameters</key>
	<dict/>
	<key>AMDescription</key>
	<dict>
		<key>AMDInput</key>
		<string>Files/Folders</string>
		<key>AMDResult</key>
		<string>Files/Folders</string>
		<key>AMDSummary</key>
		<string>This action searches thetvdb.com for TV Shows matching the query and renames items to the selected search result</string>
	</dict>
	<key>AMIconName</key>
	<string>BatchRipIcon</string>
	<key>AMKeywords</key>
	<array>
		<string>batch</string>
		<string>rip</string>
		<string>rename</string>
		<string>TV Show</string>
		<string>thetvdb</string>
		<string>macjedi</string>
	</array>
	<key>AMName</key>
	<string>Rename TV Source Folders</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.string</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string>(* Action name to be suggested to add prior to this action to make the task safer, e.g. com.apple.Automator.CopyFiles, goes here. *)</string>
		<key>ApplyButton</key>
		<string>(* Button label for user to add proposed Action, e.g. Add. *)</string>
		<key>IgnoreButton</key>
		<string>(* Button label for user not to add proposed Action, e.g. Don't Add. *)</string>
		<key>Level</key>
		<integer>0</integer>
		<key>Message</key>
		<string>(* Warning message presented to user goes here. *)</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Rename TV Source Folders v1.0.6, Copyright © 2009-2010 Robert Yamada</string>
	<key>CFBundleIdentifier</key>
	<string>com.batchRip.Automator.Rename_TV_Source_Folders</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Rename TV Source Folders</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.6</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2009-2010 Robert Yamada</string>
	<key>NSPrincipalClass</key>
	<string>AMShellScriptAction</string>
</dict>
</plist>
